#cloud-config
users:
  - name: ubuntu
    ssh-authorized-keys:
      - "{{ pub_key }}"
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    groups: sudo
    shell: /bin/bash
runcmd:
  - echo "AllowUsers ubuntu" >> /etc/ssh/sshd_config
  - restart ssh
